.header-bottom-slider .carousel-caption {
    position: absolute;
    left: 8px;
    bottom: 8px;
    background-color: #19825f;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 18px 9px;
    width: 269px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.widget .tabbed .block.current {
    border-top-width: 0;
}
@media(min-width: 980px){
.main-menu ul li a {
line-height: 23px;
}
.navbar-brand, .navbar-text {
line-height: 35px;
}
}
input[type="email"] {
height: 39px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #dcdcdc;
}
ul.errorlist {
    color: #b94a48;
}