{% extends "base.html" %}
{% load pages_tags mezzanine_tags %}

{% block page %}
<div class="page-container container">
<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right sidebar" role="complementary">
	{% search_form %}
	<div class="text-center">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
	</div>
    {% include "blog/includes/news_panel.html" %}
    {% block right_panel %}
    {% endblock %}
</div>
</div>
{% endblock %}