{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block blog_recent_posts %}
{% blog_recent_posts limit=3 category="news" tag="Political" as recent_news_political_posts %}
{% blog_recent_posts limit=3 category="news" tag="Legislative" as recent_news_legislative_posts %}
{% blog_recent_posts limit=3 category="news" tag="ADA" as recent_news_ada_posts %}
{% blog_recent_posts limit=3 category="news" tag="Industry" as recent_news_industry_posts %}
{% blog_recent_posts limit=3 category="news" tag="Ancillary Industry" as recent_news_ancillary_posts %}

<h3>{% trans "Recent News" %}</h3>

    <ul class="nav nav-tabs nav-justified">
        <!-- Nav tabs -->
        {% if recent_news_political_posts %}
          <li class="active"><a href="#political" data-toggle="tab">Political</a></li>
        {% endif %}
        {% if recent_news_legislative_posts %}
          <li class=""><a href="#legislative" data-toggle="tab">Legislative</a></li>
        {% endif %}
        {% if recent_news_ada_posts %}
          <li class=""><a href="#ada" data-toggle="tab">ADA</a></li>
        {% endif %}
    </ul>
<div class="widget tabs-widget">
<div class="tabbed">
<div class="tab-content block current">

{% if recent_news_political_posts %}
  <div class="tab-pane fade in active" id="political">

    <ul class="widget-list">
    {% for recent_post in recent_news_political_posts %}
    <li>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <figure>
            <a href="{{ recent_post.get_absolute_url }}">
                <img alt="{{ recent_post.title }}" class="tabs-thumb wp-post-image" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 150 150 %}">
            </a>
        </figure>
        {% endif %}
        <h5>
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
        </h5>
        {% with recent_post.user as author %}
        <span>{{ recent_post.publish_date }} By</span> <a href="{% url "blog_post_list_author" author %}" title="Posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </li>
    {% endfor %}
    </ul>    
  </div>
{% endif %}  
{% if recent_news_legislative_posts %}
  <div class="tab-pane fade" id="legislative">
    <ul class="widget-list">
    {% for recent_post in recent_news_legislative_posts %}
    <li>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <figure>
            <a href="{{ recent_post.get_absolute_url }}">
                <img alt="{{ recent_post.title }}" class="tabs-thumb wp-post-image" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 150 150 %}">
            </a>
        </figure>
        {% endif %}
        <h5>
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
        </h5>
        {% with recent_post.user as author %}
        <span>{{ recent_post.publish_date }} By</span> <a href="{% url "blog_post_list_author" author %}" title="Posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </li>
    {% endfor %}
    </ul>    
  </div>
{% endif %}
{% if recent_news_ada_posts %}
  <div class="tab-pane fade" id="ada">
    <ul class="widget-list">
    {% for recent_post in recent_news_ada_posts %}
    <li>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <figure>
            <a href="{{ recent_post.get_absolute_url }}">
                <img alt="{{ recent_post.title }}" class="tabs-thumb wp-post-image" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 150 150 %}">
            </a>
        </figure>
        {% endif %}
        <h5>
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
        </h5>
        {% with recent_post.user as author %}
        <span>{{ recent_post.publish_date }} By</span> <a href="{% url "blog_post_list_author" author %}" title="Posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </li>
    {% endfor %}
    </ul>    
  </div>
{% endif %}
</div>
</div>
</div>

    <ul class="nav nav-tabs nav-justified">
        <!-- Nav tabs -->
        {% if recent_news_industry_posts %}
          <li class="active"><a href="#industry" data-toggle="tab">Industry</a></li>
        {% endif %}
        {% if recent_news_ancillary_posts %}
          <li class=""><a href="#ancillary" data-toggle="tab">Ancillary</a></li>
        {% endif %}
    </ul>
<div class="widget tabs-widget">
<div class="tabbed">
<div class="tab-content block current">

{% if recent_news_industry_posts %}
  <div class="tab-pane fade in active" id="industry">

    <ul class="widget-list">
    {% for recent_post in recent_news_industry_posts %}
    <li>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <figure>
            <a href="{{ recent_post.get_absolute_url }}">
                <img alt="{{ recent_post.title }}" class="tabs-thumb wp-post-image" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 150 150 %}">
            </a>
        </figure>
        {% endif %}
        <h5>
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
        </h5>
        {% with recent_post.user as author %}
        <span>{{ recent_post.publish_date }} By</span> <a href="{% url "blog_post_list_author" author %}" title="Posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </li>
    {% endfor %}
    </ul>    
  </div>
{% endif %}  
{% if recent_news_ancillary_posts %}
  <div class="tab-pane fade" id="ancillary">
    <ul class="widget-list">
    {% for recent_post in recent_news_ancillary_posts %}
    <li>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <figure>
            <a href="{{ recent_post.get_absolute_url }}">
                <img alt="{{ recent_post.title }}" class="tabs-thumb wp-post-image" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 150 150 %}">
            </a>
        </figure>
        {% endif %}
        <h5>
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
        </h5>
        {% with recent_post.user as author %}
        <span>{{ recent_post.publish_date }} By</span> <a href="{% url "blog_post_list_author" author %}" title="Posts by {{ author.get_full_name|default:author.username }}" rel="author">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </li>
    {% endfor %}
    </ul>    
  </div>
{% endif %}
</div>
</div>
</div>

{% endblock %}

{% block blog_months %}
{% blog_months as months %}
{% if months %}
<h3>{% trans "Archive" %}</h3>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6>
        <ul class="nav nav-stacked nav-pills">
    {% endifchanged %}
    <li>
        <a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}">
            {{ month.date|date:"F" }} <span class="badge pull-right">{{ month.post_count }}</span>
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}
<!-- widget_categories -->
<section id="blog-categories" class="">
    <h3 class="title">{% trans "Categories" %}</h3>
    <ul class="nav nav-stacked nav-pills">
        {% for category in categories %}
        <li>
            <a href="{% url "blog_post_list_category" category.slug %}">
                {{ category }} <span class="badge pull-right">{{ category.post_count }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- End of widget_categories -->

{% endif %}
{% endblock %}
{% comment %}
{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<h3>{% trans "Tags" %}</h3>
<ul class="list-inline tag-cloud">
{% for tag in tags %}
<li>
    <a href="{% url "blog_post_list_tag" tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% endcomment %}
{% block blog_authors %}
{% blog_authors as authors %}
{% if authors %}
<h3>{% trans "Authors" %}</h3>
<ul class="nav nav-stacked nav-pills">
{% for author in authors %}
    <li>
        <a href="{% url "blog_post_list_author" author.username %}">
            {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author.username }}{% endif %} <span class="badge pull-right">{{ author.post_count }}</span>
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_feeds %}
<h3>{% trans "Feeds" %}</h3>
{% if tag %}
    <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if category %}
    <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if author %}
    <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if not tag and not category and not author %}
    <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% endblock %}
