<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags blog_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">


    <!-- Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>


{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% comment %}
{% if debug %}
  <link rel="stylesheet/less" href="{% static 'bower_components/bootstrap/less/bootstrap.less' %}">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet/less" href="{% static 'bower_components/bootstrap/less/theme.less' %}">
  <script type="text/javascript">
    less = {
      env: "development", // or "production"
      async: false,       // load imports async
      fileAsync: false,   // load imports async when in a page under
      // a file protocol
      poll: 1000,         // when in watch mode, time in ms between polls
      functions: {},      // user functions, keyed by name
      dumpLineNumbers: "comments", // or "mediaquery" or "all"
      relativeUrls: false,// whether to adjust url's to be relative
      // if false, url's are already relative to the
      // entry less file
      rootpath: ""// a path to add on to the start of every url
      //resource
    };
  </script>
  <script src="{% static 'bower_components/less/dist/less-1.7.0.min.js' %}"></script>
{% else %}
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
{% endif %}
{% endcomment %}
  <link href="{% static 'theme/css/bootstrap.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'theme/css/main.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'theme/css/skins/lighter-green.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'css/project.css' %}" rel="stylesheet" media="all">
{% compress css %}
<!--link rel="stylesheet" href="{% static "css/bootstrap.css" %}"-->
<!--link rel="stylesheet" href="{% static "css/mezzanine.css" %}"-->
<!--link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}"-->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<!-- Header Wrapper -->
<div class="header-wrapper">

    <!-- Start Header -->
    <header role="banner" class="header container">

        <div class="donate-now clearfix">
            <a target="_blank" title="Get Involved" href="/get-involved/">Get Involved</a>
        </div>

        <!-- Start of Main Navigation -->
        <nav role="navigation" class="nav main-menu clearfix" id="nav">
    {% page_menu "pages/menus/dropdown.html" %}
        </nav>

        <!-- End of Main Navigation -->

        <!-- Logo -->
        <div class="logo clearfix">
              {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
              {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
        </div>

    </header><!-- End Header -->

</div><!-- End of header-wrapper -->

<!-- .header-bottom-wrapper -->
<div class="header-bottom-wrapper">
    <div class="container">
      {% block header_bottom_wrapper %}
        <div class="row">
            <!-- Page Head -->
            <div class="page-head col-lg-12">
                <h2 class="page-title">{% block title %}{% endblock title %}</h2>
            </div>
            <!-- End Page Head -->
        </div>
      {% endblock header_bottom_wrapper %}
    </div><!-- End of container -->
</div>
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

{% block page %}
{% block left_panel %}{% endblock left_panel %}
{% block main %}{% endblock main %}
{% block right_panel %}{% endblock right_panel %}
{% endblock page %}

{% comment %}

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>
{% endcomment %}

<!-- Footer -->
<footer role="contentinfo" class="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row">

                <div class="col-sm-4">

                    <!-- widget -->
                    <section class="widget widget_text" id="text-2">
                        <h3 class="title">About</h3>
                        <div class="textwidget">
                            <p>The Arizona Dispensaries Association is the voice of Arizona’s cannabis industry. Our members are licensed dispensary owners, and our organization is dedicated to pushing the Arizona cannabis industry forward through political advocacy, public education, and professionalization.</p>
                        </div>
                    </section>
                    <!-- End of .widget -->

                </div>


                <div class="col-sm-4">

                    <!-- widget -->
                    <section class="widget widget_nav_menu" id="nav_menu-2">
                        <h3 class="title">Quick Links</h3>
                        <div class="menu-footer-menu-container">
                          {% page_menu "pages/menus/footer.html" %}
                        </div>
                    </section>
                    <!-- End of .widget -->

                </div>
                <div class="col-sm-4">
{% comment %}


                <div class="col-lg-3 col-md-3 col-sm-6">

                    <!-- widget -->
                    <section class="widget widget_text" id="text-4">
                        {% ifinstalled mezzanine.twitter %}
                        {% include "twitter/tweets.html" %}
                        {% endifinstalled %}
                    </section>
                    <!-- End of .widget -->

                </div>
                    <!-- widget -->
                    <section class="widget widget_recent_entries" id="recent-posts-3">
                      {% blog_recent_posts 5 as recent_posts %}
                      {% if recent_posts %}
                      <h3 class="title">{% trans "Recent Posts" %}</h3>
                      <ul class="list-unstyled recent-posts">
                      {% for recent_post in recent_posts %}
                      <li><a href="{{ recent_post.get_absolute_url }}"
                          >{{ recent_post.title }}</a></li>
                      {% endfor %}
                      </ul>
                      {% endif %}
                    </section>
                    <!-- End of .widget -->
{% endcomment %}
                    <!-- widget -->
                    <section class="" id="recent-posts-3">
                      <h3 class="title">Contact Us</h3>
                            <form class="form">
                              
                              <div class="form-group">
                                <label for="id_name" class="control-label col-xs-4">Name</label>
                                <input class="form-controls col-xs-8" type="text" name="name" id="id_name">
                              </div>
                              <div class="form-group">
                                <label for="id_email" class="control-label col-xs-4">Email</label>
                                <input class="form-controls col-xs-8" type="email" name="email" id="id_email">
                              </div>
                              <div class="form-actions">
                                <input type="submit" class="btn btn-default btn-block" value="Submit" name="Submit">
                              </div>
                            </form>
                    </section>
                    <!-- End of .widget -->
                </div>

            </div>

        </div>

    </div><!-- End of .footer-top -->

    <!-- footer-bottom -->
    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">Copyright &copy; 2014. All Rights Reserved.</p>

            <!-- Social Navigation -->
            <ul class="social-nav clearfix">
                <li class="facebook"><a href="#" target="_blank"></a></li>
                <li class="twitter"><a href="#" target="_blank"></a></li>
                <li class="linkedin"><a href="#" target="_blank"></a></li>
                <li class="youtube"><a href="#" target="_blank"></a></li>
                <li class="skype"><a href="skype:#?add" target="_blank"></a></li>
                <li class="flickr"><a href="#" target="_blank"></a></li>
                <li class="deviantart"><a href="#" target="_blank"></a></li>
                <li class="google"><a href="#" target="_blank"></a></li>
                <li class="stumble"><a href="#" target="_blank"></a></li>
            </ul>

        </div>
    </div><!-- End of .footer-bottom -->

</footer>
<!-- End of Footer -->




{% include "includes/footer_scripts.html" %}

</body>
</html>
