<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">


    <!-- Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>


{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% comment %}
{% if debug %}
  <link rel="stylesheet/less" href="{% static 'bower_components/bootstrap/less/bootstrap.less' %}">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet/less" href="{% static 'bower_components/bootstrap/less/theme.less' %}">
  <script type="text/javascript">
    less = {
      env: "development", // or "production"
      async: false,       // load imports async
      fileAsync: false,   // load imports async when in a page under
      // a file protocol
      poll: 1000,         // when in watch mode, time in ms between polls
      functions: {},      // user functions, keyed by name
      dumpLineNumbers: "comments", // or "mediaquery" or "all"
      relativeUrls: false,// whether to adjust url's to be relative
      // if false, url's are already relative to the
      // entry less file
      rootpath: ""// a path to add on to the start of every url
      //resource
    };
  </script>
  <script src="{% static 'bower_components/less/dist/less-1.7.0.min.js' %}"></script>
{% else %}
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
{% endif %}
{% endcomment %}
  <link href="{% static 'theme/css/bootstrap.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'theme/css/main.css' %}" rel="stylesheet" media="all">
  <link href="{% static 'theme/css/skins/lighter-green.css' %}" rel="stylesheet" media="all">

{% compress css %}
<!--link rel="stylesheet" href="{% static "css/bootstrap.css" %}"-->
<!--link rel="stylesheet" href="{% static "css/mezzanine.css" %}"-->
<!--link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}"-->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<!-- Header Wrapper -->
<div class="header-wrapper">

    <!-- Start Header -->
    <header role="banner" class="header container">

        <div class="donate-now clearfix hidden">
            <a target="_blank" title="Donate Now" href="#">Donate Now</a>
        </div>

        <!-- Start of Main Navigation -->
        <nav role="navigation" class="nav main-menu clearfix" id="nav">
{% search_form "all" %}
    {% page_menu "pages/menus/dropdown.html" %}
        </nav>

        <!-- End of Main Navigation -->

        <!-- Logo -->
        <div class="logo clearfix">
              {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
              {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
        </div>

    </header><!-- End Header -->

</div><!-- End of header-wrapper -->


{% block page %}
{% block main %}{% endblock %}
{% endblock page %}
{% comment %}

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>
{% endcomment %}


<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
