{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags pages_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}
{% block header_bottom_wrapper %}

        <!-- .quote -->
        <div class="quote">
            <blockquote>
                <p>If our country is worth dying for in time of war let us resolve that it is truly worth living for in time of peace.</p>
                <span class="author"><span class="line left"></span>HAMILTON FISH<span class="line right"></span></span>
            </blockquote>
        </div>
        <!-- End of .quote -->

        <div class="row">
            {% blog_recent_posts 5 as recent_posts %}
            {% if recent_posts %}
            <div class="col-md-8 home-flexslider variation-1">
                <!-- Slider -->
				<div id="slider-1" class="carousel slide header-bottom-slider" data-ride="carousel">
				  <!-- Indicators -->		

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">

                      {% for recent_post in recent_posts %}
                        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}

				            <div class="item{% if forloop.first %} active{% endif %}">
                                <a href="{{ recent_post.get_absolute_url }}">
				                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 800 400 %}" alt="">
				                <div class="carousel-caption">
                                    <figcaption>
                                        {{ recent_post.title }}
                                    </figcaption>
				                </div>
                                </a>
				            </div>
                        {% endif %}
                      {% endfor %}

				  </div>				

				  <!-- Controls -->
				  <a class="left carousel-control" href="#slider-1" data-slide="prev">
				    <!--span class="glyphicon glyphicon-chevron-left"></span-->
				  </a>
				  <a class="right carousel-control" href="#slider-1" data-slide="next">
				    <!--span class="glyphicon glyphicon-chevron-right"></span-->
				  </a>
                </div><!-- End Slider -->
                {% endif %}
            </div>

            <div class="col-md-4 header-widget">

                <!-- wp-email-capture-widget -->
                <div class="wp-email-capture-widget">
                    <div class="slide_widget_inner">
                        <h3 class="title">Join Our Efforts Towards a Better Future</h3>
                        <div class="textwidget">
                            Become a member by subscribing the form displayed below.
                        </div>
                        <div class="wp-email-capture wp-email-capture-widget wp-email-capture-widget-worldwide" id="wp_email_capture">
                            <form action="#" method="post" name="wp_email_capture">


                                <label for="wp-email-capture-name-widget" class="wp-email-capture-name wp-email-capture-label wp-email-capture-widget-worldwide wp-email-capture-name-widget wp-email-capture-name-label wp-email-capture-name-label-widget" style="display: none;">Name:</label> <input type="text" title="Name" class="wp-email-capture-name wp-email-capture-input wp-email-capture-widget-worldwide wp-email-capture-name-widget wp-email-capture-name-input wp-email-capture-name-input-widget required" id="wp-email-capture-name-widget" name="wp-email-capture-name" placeholder="Your Name"><br>

                                <label for="wp-email-capture-email-widget" class="wp-email-capture-email wp-email-capture-label wp-email-capture-widget-worldwide wp-email-capture-email-widget wp-email-capture-email-label wp-email-capture-email-label-widget" style="display: none;">Email:</label> <input type="text" title="Email" class="wp-email-capture-email wp-email-capture-input wp-email-capture-widget-worldwide wp-email-capture-email-widget wp-email-capture-email-input wp-email-capture-email-input-widget required email" id="wp-email-capture-email-widget" name="wp-email-capture-email" placeholder="Email Address"><br>

                                <input type="hidden" value="1" name="wp_capture_action">

                                <input type="submit" class="wp-email-capture-submit wp-email-capture-widget-worldwide" value="Submit" name="Submit">

                            </form>

                        </div>
                    </div>
                </div><!-- eND OF .wp-email-capture-widget -->
            </div>
        </div>
{% endblock header_bottom_wrapper %}
{% block main %}


<!-- blog-items -->
<div class="blog-items">

    <div class="container">

        <div class="row">
            {% blog_recent_posts limit=3 category="news" as recent_news_posts %}
            {% if recent_news_posts %}
              {% for recent_post in recent_news_posts %}
                {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
            <div class="col-sm-4">
                <figure>
                    <a title="{{ recent_post.title }}" href="{{ recent_post.get_absolute_url }}">
                        <img alt="{{ recent_post.title }}" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 354 144 %}">
                    </a>
                    <figcaption>{{ recent_post.title }}</figcaption>
                </figure>
            </div>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
    </div>
</div><!-- End of .blog-items -->

 <!-- start of page content -->
 <div class="container page-container">
 	<div class="row">

            <div class="col-md-2 left">
                <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            </div>
        <div class="col-md-7 middle">
        <div role="main" class="main">
            <article class="hentry clearfix">
                <header>
                    <h2 class="post-title"><a href="#">Featured Dolor Ipsum Post</a></h2>
                    <div class="post-meta clearfix">
                        <span>By</span> <a rel="author" title="Posts by John Doe" href="#">John Doe</a>
                        <span class="date"> on October 01, 2013 </span>
                        <span class="category">in <a title="View all posts in Culture" href="#">Culture</a></span>
                    </div><!-- end of post meta -->
                </header>
                <figure>
                    <a title="Featured Dolor Ipsum Post" href="#">
                        <img alt="8th-post-featured" class="img-responsive wp-post-image" src="images/temp-images/8th-post-featured-754x472.jpg">
                    </a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in…</p>    <a class="pp-btn" href="#">Read More</a>
            </article>
            <div class="row post-grid-2-col">
                <div class="col-lg-6 col-md-6  col-sm-6  col-xs-6">
            <article class="format-image hentry clearfix">
                <header>
                    <h3 class="post-title"><a href="#">Sample Image Post</a></h3>
                    <div class="post-meta clearfix">
                        <span>By</span> <a rel="author" title="Posts by John Doe" href="#">John Doe</a>
                        <span class="date"> on October 01, 2013 </span>
                        <span class="category">in <a title="View all posts in Economy" href="#">Economy</a></span>
                    </div><!-- end of post meta -->
                </header>
                <figure>
                    <a title="Sample Image Post" href="#">
                        <img alt="3rd-post" class="img-responsive wp-post-image" src="images/temp-images/3rd-post-354x200.jpg">
                    </a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…<a class="read-more" href="#">Read More</a></p>
            </article>
        </div>
                <div class="col-lg-6 col-md-6  col-sm-6  col-xs-6">
                    <article class="format-standard hentry clearfix">
                <header>
                    <h3 class="post-title"><a href="#">Sample Post with Featured Image</a></h3>
                    <div class="post-meta clearfix">
                        <span>By</span> <a rel="author" title="Posts by John Doe" href="#">John Doe</a>
                        <span class="date"> on October 01, 2013 </span>
                        <span class="category">in <a title="View all posts in Rights" href="#">Rights</a></span>
                    </div><!-- end of post meta -->
                </header>
                <figure>
                    <a title="Sample Post with Featured Image" href="#">
                        <img alt="5th-post-featured" class="img-responsive wp-post-image" src="images/temp-images/3rd-post-354x200.jpg">
                    </a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…<a class="read-more" href="#">Read More</a></p>
            </article>
                </div>
                <div class="clearfix">

        </div>
                <div class="col-lg-6 col-md-6  col-sm-6  col-xs-6">
            <article class="format-gallery hentry clearfix">
                <header>
                    <h3 class="post-title"><a href="#">Sample Post with Gallery Post Format</a></h3>
                    <div class="post-meta clearfix">
                        <span>By</span> <a rel="author" title="Posts by John Doe" href="#">John Doe</a>
                        <span class="date"> on October 01, 2013 </span>
                        <span class="category">in <a title="View all posts in Economy" href="#">Economy</a></span>
                    </div><!-- end of post meta -->
                </header>
                <div class="listing-slider">

                    <div class="flex-viewport">
                        <ul class="slides">
                            <li>
                                <a class="swipebox" title="" href="images/temp-images/3rd-post-354x200.jpg">
                                    <img alt="4th-gallery-image" src="images/temp-images/3rd-post-354x200.jpg" class="img-responsive" draggable="false">
                                </a>
                            </li>
                            <li>
                                <a class="swipebox" title="" href="images/temp-images/3rd-post-354x200.jpg">
                                    <img alt="1st-gallery-image" src="images/temp-images/3rd-post-354x200.jpg" class="img-responsive" draggable="false"></a>
                            </li>
                            <li>
                                <a class="swipebox" title="" href="images/temp-images/3rd-post-354x200.jpg">
                                    <img alt="2nd-gallery-image" src="images/temp-images/3rd-post-354x200.jpg" class="img-responsive" draggable="false">
                                </a>
                            </li>
                            <li>
                                <a class="swipebox" title="" href="images/temp-images/3rd-post-354x200.jpg">
                                    <img alt="3rd-gallery-image" src="images/temp-images/3rd-post-354x200.jpg" class="img-responsive" draggable="false">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…<a class="read-more" href="#">Read More</a></p>
            </article>
        </div>
                <div class="col-lg-6 col-md-6  col-sm-6  col-xs-6">
            <article class="format-video hentry clearfix">
                <header>
                    <h3 class="post-title"><a href="#">Sample Video Post</a></h3>
                    <div class="post-meta clearfix">
                        <span>By</span> <a rel="author" title="Posts by John Doe" href="#">John Doe</a>
                        <span class="date"> on October 01, 2013 </span>
                        <span class="category">in <a title="View all posts in Rights" href="#">Rights</a></span>
                    </div><!-- end of post meta -->
                </header>
                <div class="post-video">
                    <div class="video-wrapper">
                        <iframe allowfullscreen="" src="http://player.vimeo.com/video/23534361?title=0&amp;byline=0&amp;portrait=0"></iframe>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…<a class="read-more" href="#">Read More</a></p>
            </article>
        </div>
                <div class="clearfix"></div>
            </div>
         </div><!-- end of page content -->
         </div>
         <div class="col-md-3 sidebar" role="complementary">
            {% include "blog/includes/news_panel.html" %}
         </div>
    </div>
 </div>


{% endblock main %}
